form.woocommerce-form-track-order {
    max-width: 360px;
    margin: 0 auto 2.5rem;

    @media only screen and (max-width: 639px) {
        max-width: 100%;
    }

    .form-row,
    .button {
        display: block;
        width: 100% !important;
    }

    .button {
        margin-top: 10px;
    }
}
